[submodule "sky-sample"]
	path = sky-sample
	url = https://github.com/Vondom/sky-sample.git
	branch = master
[submodule "jrat"]
	path = tools/jrat
	url = https://github.com/vondom/jrat.git
	branch = master
[submodule "spring-social-github"]
	path = tools/spring-social-github
	url = https://github.com/spring-projects/spring-social-github.git
	branch = master
