[submodule "thrift"]
	path = tools/thrift
	url = https://github.com/apache/thrift.git
	branch = 0.9.x
[submodule "sky-sample"]
	path = sky-sample
	url = https://github.com/Vondom/sky-sample.git
	branch = 0.1-SNAPSHOT
